<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" verbose="1" parallel="false" thread-count="1">
<test name="End-to-End Tests">
<classes>
<class name="com.capstone.tests.LoginTest"/>
<class name="com.capstone.tests.SearchTest"/>
<class name="com.capstone.tests.AddToCartTest"/>
<class name="com.capstone.tests.CartQuantityTest"/>
<class name="com.capstone.tests.RemoveFromCartTest"/>
<class name="com.capstone.tests.SmokeTest"/>
<class name="com.capstone.tests.CheckoutTest"/>
</classes>
</test>
</suite>

 
